
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("Head")

<body>

    
    <!-- Header Starts -->
    @await Component.InvokeAsync("Header")
    <!-- #Header Starts -->
    @RenderBody()
 

   
   
@await Component.InvokeAsync("Footer")
    <!-- /.modal -->



</body>
</html>



