
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Realestate Bootstrap Theme </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/RealEState/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/RealEState/assets/style.css" />
    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="~/RealEState/assets/bootstrap/js/bootstrap.js"></script>
    <script src="~/RealEState/assets/script.js"></script>



    <!-- Owl stylesheet -->
    <link rel="stylesheet" href="~/RealEState/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/RealEState/assets/owl-carousel/owl.theme.css">
    <script src="~/RealEState/assets/owl-carousel/owl.carousel.js"></script>
    <!-- Owl stylesheet -->
    <!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="~/RealEState/assets/slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/RealEState/assets/slitslider/css/custom.css" />
    <script type="text/javascript" src="~/RealEState/assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="~/RealEState/assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="~/RealEState/assets/slitslider/js/jquery.slitslider.js"></script>
    <!-- slitslider -->

</head>

<body>

    @RenderBody()
    <!-- Header Starts -->
    <div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.php">Home</a></li>
                        <li><a href="about.php">About</a></li>
                        <li><a href="agents.php">Agents</a></li>
                        <li><a href="blog.php">Blog</a></li>
                        <li><a href="contact.php">Contact</a></li>
                    </ul>
                </div>
                <!-- #Nav Ends -->

            </div>
        </div>

    </div>
    <!-- #Header Starts -->





    <div class="container">

        <!-- Header Starts -->
        <div class="header">
            <a href="index.php"><img src="~/RealEState/images/logo.png" alt="Realestate"></a>

            <ul class="pull-right">
                <li><a href="buysalerent.php">Buy</a></li>
                <li><a href="buysalerent.php">Sale</a></li>
                <li><a href="buysalerent.php">Rent</a></li>
            </ul>
        </div>
        <!-- #Header Starts -->
    </div>
    <div class="">

      @*  @await Component.InvokeAsync("AdvertSlider") *@
        <div id="slider" class="sl-slider-wrapper">

            <div class="sl-slider">

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-1"></div>
                        <h2><a href="#">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
                        <blockquote>
                            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
                            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
                            <cite>$ 20,000,000</cite>
                        </blockquote>
                    </div>
                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-2"></div>
                        <h2><a href="#">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
                        <blockquote>
                            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
                            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
                            <cite>$ 20,000,000</cite>
                        </blockquote>
                    </div>
                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-3"></div>
                        <h2><a href="#">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
                        <blockquote>
                            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
                            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
                            <cite>$ 20,000,000</cite>
                        </blockquote>
                    </div>
                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-4"></div>
                        <h2><a href="#">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
                        <blockquote>
                            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
                            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
                            <cite>$ 20,000,000</cite>
                        </blockquote>
                    </div>
                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-5"></div>
                        <h2><a href="#">2 Bed Rooms and 1 Dinning Room Aparment on Sale</a></h2>
                        <blockquote>
                            <p class="location"><span class="glyphicon glyphicon-map-marker"></span> 1890 Syndey, Australia</p>
                            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
                            <cite>$ 20,000,000</cite>
                        </blockquote>
                    </div>
                </div>
            </div><!-- /sl-slider -->



            <nav id="nav-dots" class="nav-dots">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </nav>

        </div><!-- /slider-wrapper -->
    </div>



    <div class="banner-search">
        <div class="container">
            <!-- banner -->
            <h3>Buy, Sale & Rent</h3>
            <div class="searchbar">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Search of Properties">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 ">
                                <select class="form-control">
                                    <option>Buy</option>
                                    <option>Rent</option>
                                    <option>Sale</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-4">
                                <select class="form-control">
                                    <option>Price</option>
                                    <option>$150,000 - $200,000</option>
                                    <option>$200,000 - $250,000</option>
                                    <option>$250,000 - $300,000</option>
                                    <option>$300,000 - above</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-4">
                                <select class="form-control">
                                    <option>Property</option>
                                    <option>Apartment</option>
                                    <option>Building</option>
                                    <option>Office Space</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-4">
                                <button class="btn btn-success" onclick="window.location.href='buysalerent.php'">Find Now</button>
                            </div>
                        </div>


                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
                            <p asp-area="">@Context.Session.GetString("FullName")</p>
                            <div class="myPanel">
                                <a class="btn btn-info" asp-area="User" asp-controller="User" asp-action="Index">Logout</a>
                                <a class="btn btn-info" data-toggle="modal" data-target="#loginpop">Logout</a>
                            </div>
                            
                        </div>
                    }else
                    {
                        <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
                            <p>Join now and get updated with all the properties deals.</p>
                            <a class="btn btn-info" asp-area="User" asp-controller="User" asp-action="Login">Login</a>
                        </div>

                    }
                    
                </div>
            </div>
        </div>
    </div>
    <!-- banner -->
    <div class="container">
        <div class="properties-listing spacer">
            <a href="buysalerent.php" class="pull-right viewall">View All Listing</a>
            <h2>Featured Properties</h2>
            @Component.InvokeAsync("AdvertAll")
           @* <div id="owl-example" class="owl-carousel">
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" />
                        <div class="status sold">Sold</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail1"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">Room</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">Bath</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">Floor</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">Area</span> </div>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" />
                        <div class="status new">New</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/4.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" />
                        <div class="status sold">Sold</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" />
                        <div class="status sold">Sold</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" />
                        <div class="status new">New</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/4.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>

            </div>*@
        </div>

      
      
    </div>

    <div class="container">
        <div class="properties-listing spacer">
            <a href="buysalerent.php" class="pull-right viewall">View All Listing</a>
            <h2>Featured Properties</h2>
            <div id="owl-example1" class="owl-carousel1">
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" />
                        <div class="status sold">Sold</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" />
                        <div class="status new">New</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/4.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" />
                        <div class="status sold">Sold</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" />
                        <div class="status sold">Sold</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder">
                        <img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" />
                        <div class="status new">New</div>
                    </div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/4.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>
                <div class="properties">
                    <div class="image-holder"><img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" /></div>
                    <h4><a href="property-detail.php">Royal Inn</a></h4>
                    <p class="price">Price: $234,900</p>
                    <div class="listing-detail"><span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span> <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span> </div>
                    <a class="btn btn-primary" href="property-detail.php">View Details</a>
                </div>

            </div>
        </div>

        <div class="spacer">
            <div class="row">
                <div class="col-lg-6 col-sm-9 recent-view">
                    <h3>About Us</h3>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.<br><a href="about.php">Learn More</a></p>

                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
                    <h3>Recommended Properties</h3>
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-lg-4"><img src="~/RealEState/images/properties/1.jpg" class="img-responsive" alt="properties" /></div>
                                    <div class="col-lg-8">
                                        <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                        <p class="price">$300,000</p>
                                        <a href="property-detail.php" class="more">More Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4"><img src="~/RealEState/images/properties/2.jpg" class="img-responsive" alt="properties" /></div>
                                    <div class="col-lg-8">
                                        <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                        <p class="price">$300,000</p>
                                        <a href="property-detail.php" class="more">More Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4"><img src="~/RealEState/images/properties/3.jpg" class="img-responsive" alt="properties" /></div>
                                    <div class="col-lg-8">
                                        <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                        <p class="price">$300,000</p>
                                        <a href="property-detail.php" class="more">More Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4"><img src="~/RealEState/images/properties/4.jpg" class="img-responsive" alt="properties" /></div>
                                    <div class="col-lg-8">
                                        <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                        <p class="price">$300,000</p>
                                        <a href="property-detail.php" class="more">More Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="container">
        <div class="spacer">
            <div class="row">

                <section class="he-homepage-container" data-v-235e6d73>
                    <div class="he-homepage-container__item" data-v-235e6d73>
                        <div class="main-category-widget" data-v-235e6d73>
                            <div class="main-category-widget__head" data-v-235e6d73>
                                <h2 data-v-235e6d73>
                                    Binlerce İlan Arasında
                                    <strong>Aradığın Evi Bul</strong>
                                </h2>
                            </div>
                        </div>
                        <div class="main-category-widget__item-list" data-v-235e6d73>
                            <div class="main-category-widget__item" data-v-235e6d73>
                                <a href="/satilik" title="Satılık Ev">
                                    <div class="main-category-widget__item-head">
                                        <h3 class="main-category-text">Satılık</h3> <span class="main-category-icon icon-/satilik">
                                        </span>
                                    </div>
                                </a> <ul class="main-category-widget__link-list" data-v-235e6d73>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/satilik/daire" title="Satılık Daire" class="main-category-widget__link-list-item-link">
                                            <span>Satılık Daire</span>
                                            <span>193.029</span>
                                        </a>
                                    </li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/satilik/villa" title="Satılık Villa" class="main-category-widget__link-list-item-link"><span>Satılık Villa</span> <span>24.347</span></a></li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/satilik/mustakil-ev" title="Satılık Müstakil Ev" class="main-category-widget__link-list-item-link"><span>Satılık Müstakil Ev</span> <span>9.790</span></a></li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/satilik/bina" title="Satılık Bina" class="main-category-widget__link-list-item-link"><span>Satılık Bina</span> <span>2.371</span></a></li>
                                </ul>
                            </div>
                            <div class="main-category-widget__item" data-v-235e6d73>
                                <a href="/kiralik" title="Kiralık Ev">
                                    <div class="main-category-widget__item-head">
                                        <h3 class="main-category-text">Kiralık</h3>
                                        <span class="main-category-icon icon-/kiralik"></span>
                                    </div>
                                </a>
                                <ul class="main-category-widget__link-list" data-v-235e6d73>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/kiralik/daire" title="Kiralık Daire" class="main-category-widget__link-list-item-link"><span>Kiralık Daire</span> <span>27.017</span></a></li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/kiralik/villa" title="Kiralık Villa" class="main-category-widget__link-list-item-link"><span>Kiralık Villa</span> <span>2.839</span></a></li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/kiralik/mustakil-ev" title="Kiralık Müstakil Ev" class="main-category-widget__link-list-item-link">
                                            <span>Kiralık Müstakil Ev</span>
                                            <span>713</span>
                                        </a>
                                    </li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/kiralik/bina" title="Kiralık Bina" class="main-category-widget__link-list-item-link"><span>Kiralık Bina</span> <span>109</span></a></li>
                                </ul>
                            </div>
                            <div class="main-category-widget__item" data-v-235e6d73>
                                <a href="/gunluk-kiralik" title="Günlük Kiralık Ev">
                                    <div class="main-category-widget__item-head">
                                        <h3 class="main-category-text">Günlük Kiralık</h3>
                                        <span class="main-category-icon icon-/gunluk-kiralik"></span>
                                    </div>
                                </a>
                                <ul class="main-category-widget__link-list" data-v-235e6d73>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/gunluk-kiralik/daire" title="Günlük Kiralık Daire" class="main-category-widget__link-list-item-link">
                                            <span>Günlük Kiralık Daire</span> <span>1.442</span>
                                        </a>
                                    </li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/gunluk-kiralik/villa" title="Günlük Kiralık Villa" class="main-category-widget__link-list-item-link">
                                            <span>Günlük Kiralık Villa</span>
                                            <span>389</span>
                                        </a>
                                    </li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/gunluk-kiralik/mustakil-ev" title="Günlük Kiralık Müstakil Ev" class="main-category-widget__link-list-item-link">
                                            <span>Günlük Kiralık Müstakil Ev</span> <span>24</span>
                                        </a>
                                    </li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/gunluk-kiralik/bina" title="Günlük Kiralık Bina" class="main-category-widget__link-list-item-link">
                                            <span>Günlük Kiralık Bina</span> <span>8</span>
                                        </a>
                                    </li>
                                </ul>
                            </div><div class="main-category-widget__item" data-v-235e6d73>
                                <a href="/sahibinden" title="Sahibinden Ev">
                                    <div class="main-category-widget__item-head">
                                        <h3 class="main-category-text">Sahibinden</h3> <span class="main-category-icon icon-/sahibinden">
                                        </span>
                                    </div>
                                </a> <ul class="main-category-widget__link-list" data-v-235e6d73>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73>
                                        <a href="/satilik-sahibinden/daire" title="Sahibinden Satılık Daire" class="main-category-widget__link-list-item-link"><span>Sahibinden Satılık Daire</span> <span>9.078</span></a>
                                    </li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/kiralik-sahibinden/daire" title="Sahibinden Kiralık Daire" class="main-category-widget__link-list-item-link"><span>Sahibinden Kiralık Daire</span> <span>1.607</span></a></li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/kiralik-sahibinden/dukkan-magaza" title="Sahibinden Kiralık Dükkan &amp; Mağaza" class="main-category-widget__link-list-item-link"><span>Sahibinden Kiralık Dükkan &amp; Mağaza</span> <span>561</span></a></li>
                                    <li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/satilik-sahibinden/mustakil-ev" title="Sahibinden Satılık Müstakil Ev" class="main-category-widget__link-list-item-link"><span>Sahibinden Satılık Müstakil Ev</span> <span>948</span></a></li>
                                </ul>
                            </div><div class="main-category-widget__item" data-v-235e6d73><a href="/projeler" title="Projeler"><div class="main-category-widget__item-head"><h3 class="main-category-text">Projeler</h3> <span class="main-category-icon icon-/projeler"></span></div></a> <ul class="main-category-widget__link-list" data-v-235e6d73><li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/proje/istanbul-projeleri" title="İstanbul Konut Projeleri" class="main-category-widget__link-list-item-link"><span>İstanbul</span> <span>886</span></a></li><li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/proje/izmir-projeleri" title="İzmir Konut Projeleri" class="main-category-widget__link-list-item-link"><span>İzmir</span> <span>180</span></a></li><li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/proje/ankara-projeleri" title="Ankara Konut Projeleri" class="main-category-widget__link-list-item-link"><span>Ankara</span> <span>176</span></a></li><li class="main-category-widget__link-list-item" data-v-235e6d73><a href="/proje/bursa-projeleri" title="Bursa Konut Projeleri" class="main-category-widget__link-list-item-link"><span>Bursa</span> <span>135</span></a></li></ul></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

   
   

    <div class="footer">

        <div class="container">



            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h4>Information</h4>
                    <ul class="row">
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="about.php">About</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="agents.php">Agents</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="blog.php">Blog</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="contact.php">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                        <input type="text" placeholder="Enter Your email address" class="form-control">
                        <button class="btn btn-success" type="button">Notify Me!</button>
                    </form>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Follow us</h4>
                    <a href="#"><img src="~/RealEState/images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="~/RealEState/images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="~/RealEState/images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="~/RealEState/images/instagram.png" alt="instagram"></a>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Contact us</h4>
                    <p>
                        <b>Bootstrap Realestate Inc.</b><br>
                        <span class="glyphicon glyphicon-map-marker"></span> 8290 Walk Street, Australia <br>
                        <span class="glyphicon glyphicon-envelope"></span> hello@bootstrapreal.com<br>
                        <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890
                    </p>
                </div>
            </div>
            <p class="copyright">Copyright 2013. All rights reserved.	</p>


        </div>
    </div>




    <!-- Modal -->
    <div id="loginpop" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-6 login">
                        <h4>Login</h4>
                        <form class="" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <h4>New User Sign Up</h4>
                        <p>Join today and get updated with all the properties deal happening around.</p>
                        <button type="submit" class="btn btn-info" onclick="window.location.href='register.php'">Join Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->



</body>
</html>



