@model List<UserAdmin>
@{
    ViewData["Title"] = "DeleteList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered table table-striped" id="table">
    <tr>
        <th>Name LastName</th>
        <th>UserName</th>
        <th>Email</th>
        <th>ReActive</th>
    

    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>

                <td><a class="btn btn-success" asp-action="UsersActive" asp-route-id="@item.Id">ReActive User</a></td>
              

            </tr>
        }
    </tbody>
</table>


