@model EntityLayer.Entities.District
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">

                <div class="form-group">
                    <form method="post" asp-antiforgery="true">

                        <label>District Name</label>
                        <input type="text" asp-for="DistrictName" class="form-control" />
                        <span asp-validation-for="DistrictName" class="text-danger"></span>
                        <br />
                        <label>City</label>
                        <select asp-for="CityId" id="CityId" class="form-control">
                            <option value="0" selected>Select</option>
                            @foreach (var item in ViewBag.cities)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        </select>
                        <br />
                        <button type="submit" class="btn btn-warning">Add District</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>




