@model EntityLayer.Entities.Type
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">

                <div class="form-group">
                    <form method="post" asp-antiforgery="true">

                        <label>Type Name</label>
                        <input type="text" asp-for="TypeName" class="form-control" />
                        <span asp-validation-for="TypeName" class="text-danger"></span>
                        <br />
                        <label>Situation</label>
                       
                        <br />
                        <button type="submit" class="btn btn-warning">Add Type</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>




